.chat-list{
    /* display: flex; */
    /* overflow: scroll; */
    max-height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0px;
}

.chatlist-header {
    width: 100%;
    font-size: calc(10px + 2vmin);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.chatlist-header img {
    margin: 0.25em;
    width: 40px;
    height: auto;
}

.chatlist-header button {
    float: right;
    border: 0px;
    background-color:inherit;
    width: auto;
}

.chatlist-header button img {
    width: 30px;
}

.chatlist-items{

}